body{
    height: 300px;
    overflow-x: hidden;
}
.nav-link:hover{
    text-decoration: underline;
    border-bottom: 1px solid greenyellow;

}

.bg-image{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}